/build/
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/*.substvars
/debian/sg-compositor/
/obj-*/
/build-pen/
/build-pen-mutant*/
/build-touchcursor/
/build-touchcursor-mutant*/
